html, body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}
#page{
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}
.question-area{
    width:500px;
    height:350px;
    background-color:rgb(38, 36, 36);
    border-radius:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:50px;
}
.answers{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:15px;
}
#yes{
    width:300px;
    height:60px;
    border:solid gold;
    border-radius:20px;
    color:gold;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}
#no{
    width:300px;
    height:60px;
    border:solid gold;
    border-radius:20px;
    color:gold;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}
.question-orig{
    width:300px;
    height:60px;
    border:solid gold;
    border-radius:20px;
    color:gold;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
#yes:hover{
    border:solid lightblue;
    color:lightblue;
}
#no:hover{
    border:solid lightblue;
    color:lightblue;
}
